body {
    background-image: linear-gradient(to right, rgb(188, 188, 237), white);
}

section {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 250px;
    box-sizing: border-box; */
}

img {
    /* width: 40%; */
    height: 400px;
    /* width: 300px; */
    box-sizing: border-box;
    transition: 3s cubic-bezier(1, -0.88, 0, 4.51);
    border: 10px dotted rgb(181, 112, 216);
}

.animate {
    transform: rotate(360deg);
}

/* img:hover {
    transform: rotate(360deg);
    /* height: 400px; */
}

*/
